[identify] {
    --identify-border-width: 3px;
    --identify-border-color: rgb(0 64 128 / 0.3);
    --identify-font-size: 16px;
}

@media (max-width: 768px) {
    [identify] {
        --identify-border-width: 2px;
        --identify-font-size: 14px;
    }
}

[identify] [identify-item] {
    position: relative;
    outline: var(--identify-border-width) solid var(--identify-border-color);
    outline-offset: calc(var(--identify-border-width) * -1);
}

[identify*="components"] [identify-item*="component"] {
    counter-increment: identify-box;
}

[identify]:not([identify*="components"]) [identify-item*="component"] {
    outline: none;
}

[identify] [identify-item]::before {
    position: absolute;
    top: unset;
    right: unset;
    bottom: 100%;
    left: 0;
    display: flex;
    background-color: var(--identify-border-color);
    padding: var(--identify-border-width);
    white-space: nowrap;
    text-shadow: 1px 1px 1px var(--identify-border-color);
    font-size: var(--identify-font-size);
    color: white;
}

[identify*="components"] [identify-item*="component"]::before {
    content: "Box " counter(identify-box);
}

[identify]:not([identify*="components"]) [identify-item*="component"]::before {
    display: none;
}

[identify] [identify-item*="right"]::before {
    top: var(--identify-border-width);
    right: var(--identify-border-width);
    bottom: unset;
    left: unset;
}

[identify] [identify-item*="bottom"]::before {
    top: unset;
    right: var(--identify-border-width);
    bottom: var(--identify-border-width);
    left: unset;
}
