@use '../functions/builder' as builder;

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Layout
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

/* === Block === */
@mixin class-block {
    display: block;
    width: 100%;
    flex: 1 0 auto;
}

.Block {
    @include class-block;
}


/* === Row === */
@mixin class-row {
    display: flex !important;
    flex-direction: row !important;
    justify-content: var(--x-align, flex-start);
    align-items: var(--y-align, stretch);
}

.Row {
    @include class-row;
}


/* === Columns === */
@mixin class-col {
    display: flex !important;
    flex-direction: column !important;
    justify-content: var(--y-align, flex-start);
    align-items: var(--x-align, stretch);
}

.Col {
    @include class-col;
}


/* === Align === */
@mixin class-align {
    &-t {
        --x-align: flex-start;
    }
    &-r {
        --y-align: flex-end;
    }
    &-b {
        --x-align: flex-end;
    }
    &-l {
        --y-align: flex-start;
    }
    &-x {
        --x-align: center;
    }
    &-y {
        --y-align: center;
    }
}

.Align {
    @include class-align;
}


/* === Layout Breakpoints === */
@include builder.add-breakpoint-prefixes() {
    .Block {
        @include class-block;
    }

    &Row {
        @include class-row;
    }

    &Col {
        @include class-col;
    }

    &Align {
        @include class-align;
    }
}
