/* === TEMPLATE === */
@import './template/site';
@import './template/section';
@import './template/dividers';
@import './template/summary';
/* === TYPOGRAPHY === */
@import './typography/copy';
@import './typography/heading';
@import './typography/list';
@import './typography/quote';
@import './typography/markup';
@import './typography/meta';
@import './typography/code';
/* === INPUT === */
@import './input/link';
@import './input/nav';
@import './input/button';
@import './input/field';

:root {
    --stripes-rgb: 0 0 0;
    --stripes-angle: -45deg;
    --stripes-opacity: 1;
    --stripes-size: 20px;
}
@keyframes slide {
    from { transform: translateX(0); }
    to { transform: translateX(var(--stripes-size)); }
}
