/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| COMPONENTS: Square
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.Square {
    display: block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
}
