.Toggle {
    --toggle-border-width: 3px;
    --toggle-border-color: transparent;
    --toggle-bg: var(--input-color);
    --toggle-radius: 9999px;
    --toggle-nub-radius: var(--toggle-radius);
    --toggle-timing: var(--input-timing);
    --toggle-timing: 1200ms;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.Toggle__input {
	position: absolute;
    inset: 0;
	opacity: 0;
}

.Toggle__switch {
    position: relative;
    display: inline-flex;
    width: 2em;
    height: 1em;
    border-width: var(--toggle-border-width);
    border-style: solid;
    border-color: var(--toggle-border-color);
    transition-timing-function: ease-in-out;
    transition-duration: var(--toggle-timing);
}

/* Input background */
.Toggle__switch::before {
    display: block;
    position: absolute;
    inset: calc(var(--toggle-border-width) * -1);
    background-color: var(--input-color);
    background: var(--toggle-bg);
    border-radius: var(--toggle-radius);
    transition-property: background;
    transition-timing-function: inherit;
    transition-duration: inherit;
    content: '';
}

/* Input nub */
.Toggle__switch::after {
    display: block;
    position: relative;
    left: 0%;
    transform: translateX(0%);
    width: calc(1em - (var(--toggle-border-width) * 2));
    aspect-ratio: 1;
    background-color: var(--theme-base);
    border-radius: var(--toggle-nub-radius);
    transition-property: left, translate;
    transition-timing-function: inherit;
    transition-duration: inherit;
    content: '';
}

/* Input focused */
input:focus-visible + .Toggle__switch {
    outline: var(--input-outline);
    outline-offset: 2px;
}

/* Input checked */
input:checked + .Toggle__switch {
    --toggle-border-color: transparent;
    --toggle-bg: var(--input-color);
}

input:checked + .Toggle__switch::after {
    left: 100%;
    transform: translateX(-100%);
    background-color: var(--theme-base);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.Toggle__value {
    animation-name: fadein;
    animation-duration: var(--input-timing);
    animation-timing-function: forwards;
}
