/*
|–––––––––––––––––––––––––
| CORE: section
|–––––––––––––––––––––––––
*/

section {
    display: block;
}

// Section Spacing
.page-gutter {
    padding-left: var(--space-page);
    padding-right: var(--space-page);
}

.section-trim {
    padding-top: var(--space-section);
    padding-bottom: var(--space-section);
}

.page-buffer {
    margin-left: var(--space-page);
    margin-right: var(--space-page);
}

.section-frame {
    margin-top: var(--space-section);
    margin-bottom: var(--space-section);
}

// Section Wrapper
.page-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--max-w-page);
}
