@use '../../functions' as func;

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Template
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

*,
::before,
::after {
  box-sizing: border-box;
}

[show-boxes] *,
[show-boxes] ::before,
[show-boxes] ::after {
  outline: 1px solid currentColor;
}

::selection {
  background: var(--palet-accent);
}

:target {
  outline: 2px solid var(--palet-accent);
  outline-offset: 2px;
}

[hidden] {
  display: none !important;
}

[scroll-lock] {
  overflow: clip !important;
}

html {
  @include func.scale-fluid-rule(font-size, 480px, 1280px, 16px, 20px);
  accent-color: var(--palet-accent);
  overflow-x: clip;
  overflow-y: auto;

  /* Firefox only */
  scroll-behavior: smooth;

  /* Remove scrollbar */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background-color: var(--palet-base);
  tab-size: 4;
  line-height: 1;
  font-size: 1rem;
  font-weight: normal;
  font-family: var(--font), system-ui, sans-serif;
  text-rendering: optimizeLegibility;
  color: var(--palet-text);
}

/* this will, at the least, fill the viewport and gives the template structure */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: block;
}

/* header comes first but should always be on top */
#header {
  position: relative;
  z-index: 3;
}

main {
  display: block;
}

/* main is in the middle and it should fill the space between but be below both the header and footer */
#main {
  position: relative;
  z-index: 1;
  flex: 1 0 auto;
}

footer {
  display: block;
}

/* footer */
#footer {
  position: relative;
  z-index: 2;
}

/* section */
section {
  display: block;
}
