@use '../../functions/media';

/*
|–––––––––––––––––––––––––
| Button
|–––––––––––––––––––––––––
*/

body {
    --button-color: var(--input-color);
    --button-hover: var(--input-hover);
    --button-active: var(--input-active);
    --button-face: var(--theme-base);
    --button-height: var(--input-height);
    --button-timing: var(--input-timing);
    --button-easing: var(--input-easing);
}

button {
  display: inline-block;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  text-align: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}

.button {
  $self: &;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  overflow: clip;
  outline: none;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  border-radius: var(--input-round);
  min-width: 8em;
  height: var(--button-height);
  background-color: var(--button-color);
  padding: 0 1.4em;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  font-size: inherit;
  color: var(--button-face);
  transition-property: border-color, background-color, color;
  transition-duration: var(--button-timing);
  transition-timing-function: var(--button-easing);
  user-select: none;
  cursor: pointer;

  // :active first so :hover overrides it
  &:active,
  &[active] {
    border-color: transparent;
    background-color: var(--button-active);
    color: var(--button-face);
  }

  &:focus,
  &:hover,
  &[hover] {
    outline: none;
    border-color: transparent;
    background-color: var(--button-hover);
    color: var(--button-face);
  }

  &:focus-visible {
    outline: 2px solid var(--input-color);
    outline-offset: 2px;
  }

  // [disabled] last so it overrides all
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // === button components === //
  &__text {
    display: block;
    font-weight: 500;
    font-size: 0.8em;
  }

  &__icon {
    font-size: 1em;
  }


  // === button types === //

  // = secondary button = //
  &--secondary,
  &[data-type="secondary"] {
    border-color: var(--button-color);
    background: transparent;
    color: var(--button-color);

    &[active] {
      border-color: var(--button-active);
      background-color: transparent;
      color: var(--button-active);
    }

    &:hover,
    &:focus {
      border-color: var(--button-hover);
      background-color: transparent;
      color: var(--button-hover);
    }

    &[disabled] {
      border-color: var(--button-color);
      background-color: transparent;
      color: var(--button-color);
    }

    &[stealth] {
      &:hover,
      &:focus {
        border-color: var(--button-color);
        background-color: transparent;
        color: var(--button-color);
      }
    }

    #{$self}__text {
      font-size: 0.7em;
    }
  }

  // = stealth button = //
  &--stealth,
  &[data-type="stealth"] {
    border-color: transparent;
    background-color: transparent;
    color: inherit;

    &:hover,
    &:focus {
      border-color: transparent;
      background-color: var(--button-color);
      color: var(--button-face);
    }
  }


  // === button size === //

  // = tall button = //
  &--tall,
  &[data-size="tall"] {
    min-width: 12em;
    border-width: 3px;
    padding: 0 2.4em;
    font-weight: 700;
    --button-height: var(--input-height-tall);

    #{$self}__text {
      font-weight: 700;
      font-size: 0.9em;
    }

    #{$self}__icon {
      font-size: 1.2em;
    }

    &#{$self}--secondary #{$self}__text,
    &[data-type="secondary"] #{$self}__text {
      font-size: 0.8em;
    }
  }

  // = thin button = //
  &--thin,
  &[data-size="thin"] {
    min-width: 6em;
    border-width: 1px;
    padding: 0 1.2em;
    font-weight: 300;
    --button-height: var(--input-height-thin);

    #{$self}__text {
      font-weight: 300;
      font-size: 0.7em;
    }

    #{$self}__icon {
      font-size: 0.8em;
    }

    &#{$self}--secondary #{$self}__text,
    &[data-type="secondary"] #{$self}__text {
      font-size: 0.6em;
    }
  }

  // = tiny button = //
  &--tiny,
  &[data-size="tiny"] {
    min-width: unset;
    border-width: 1px;
    padding: 0 0.3em;
    font-weight: 300;
    --button-height: 1.2em;

    #{$self}__text {
      font-weight: 300;
      font-size: 0.6em;
    }

    #{$self}__icon {
      font-size: 0.8em;
    }
  }


  // === button size === //

  // = stout button = //
  &--stout,
  &[data-shape="stout"] {
    min-width: unset;
    padding-right: 0.8em;
    padding-left: 0.8em;
  }


  // = square button = //
  &--square,
  &[data-shape="square"] {
    min-width: unset;
    width: var(--button-height);
    height: var(--button-height);
    padding: 0;
  }

  // = full button = //
  &--full,
  &[data-shape="full"] {
    flex: 1 0 auto;
    width: 100%;
    max-width: unset;
  }

  @include media.below( sm ) {
    .\-sm\:#{$self}--full,
    &[data-shape="-sm:full"] {
      flex: 1 0 auto;
      width: 100%;
      max-width: unset;
    }
  }

  @include media.below( md ) {
    .\-md\:#{$self}--full,
    &[data-shape="-md:full"] {
      flex: 1 0 auto;
      width: 100%;
      max-width: unset;
    }
  }


  // === button scheme === //

  // = warn button = //
  &--warn,
  &[data-scheme="warn"] {
    --button-color:       #ffdd00;
    --button-hover:       #ffff44;
    --button-active:      #ffcc00;
  }

  // = error button = //
  &--error,
  &[data-scheme="error"] {
    --button-color:       #ff2200;
    --button-hover:       #ff4422;
    --button-active:      #dd2200;
  }
}
