

body {
    --field-pad: 0.8em;
    --placeholder-opacity: 0.3;
}

/*
|–––––––––––––––––––––––––
| Form
|–––––––––––––––––––––––––
*/

form {
  display: block;
}

.Form {
  display: block;
}


/*
|–––––––––––––––––––––––––
| Label
|–––––––––––––––––––––––––
*/

label {
  display: inline-flex;
  align-items: baseline;
  line-height: 1;
}

label[for] {
  cursor: pointer;
}

.label {
  display: inline-flex;
  align-items: center;
}


/*
|–––––––––––––––––––––––––
| Field
|–––––––––––––––––––––––––
*/

input,
select,
fieldset,
textarea {
    border: 1px solid currentColor;
    border-radius: 1px;
    background-color: transparent;
    flex: 1 0 auto;
    width: 100%;
    vertical-align: middle;
    line-height: 1.6;
    font-size: inherit;
    color: inherit;
}


/*
|–––––––––––––––––––––––––
| Inputs
|–––––––––––––––––––––––––
*/

input {
    display: block;
    margin: 0;
    padding: 0 0.8em;
    cursor: text;
}

input::placeholder {
    color: inherit;
    opacity: 0.3;
}

input[readonly] {
    cursor: default !important;
}

input[type="number"][basic] {
    -moz-appearance: textfield;

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type="color"] {
    display: inline-block;
    padding: 1px;
    cursor: pointer;
}

input[type="checkbox"] {
    display: inline-block;
    width: unset;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
}

input[type="radio"] {
    display: inline-block;
    width: unset;
    vertical-align: middle;
    line-height: 1;
    cursor: pointer;
}

input[type="range"] {
    display: inline-block;
    padding: 0;
    line-height: 1;
    cursor: pointer;
}

input[type="file"] {
    display: block;
    padding: 0;
    border: none;
    cursor: pointer;
}


.field {
    $self: &;
    display: flex;
    flex: 1 0 auto;
    margin: 0;
    outline: none;
    box-shadow: none;
    border-width: 2px;
    border-style: solid;
    border-color: var(--theme-contrast);
    border-radius: var(--input-round);
    background-color: var(--theme-offset);
    width: 100%;
    height: var(--input-height);
    padding: 0 0.8em;
    line-height: 1;
    font-family: var(--face-font);
    font-size: inherit;
    color: var(--theme-face);
    transition-property: border-color, background-color, color, opacity;
    transition-duration: var(--input-timing);
    transition-timing-function: var(--input-easing);

    &::placeholder {
        opacity: 0.3;
        color: inherit;
    }

    &:focus,
    &:active,
    &[filled] {
        border-color: var(--input-color);
        background-color: var(--theme-offset);
    }

    &[readonly] {
        border-color: var(--theme-contrast) !important;
        background-color: var(--theme-offset) !important;
    }
}

.field[stealth] {
    margin: -0.5em 0;
    border-color: transparent;
    background-color: transparent;
    transition-property: border-color, background-color, color, padding, translate;

    &::placeholder {
        opacity: 1;
    }

    &:not(:focus) {
        padding-left: 0;
    }

    &:focus,
    &:active {
        border-color: var(--input-color);
        background-color: var(--theme-offset);

        &::placeholder {
            opacity: 0.3;
        }
    }

    &[readonly] {
        border-color: transparent !important;
        background-color: transparent !important;

        &::placeholder {
            opacity: 1 !important;
        }
    }
}

/* === Field large === */
.field--large {
    border-width: 1px;
    height: var(--input-height-large);
}

/* === Field small === */
.field--small {
    border-width: 1px;
    height: var(--input-height-small);
}


/*
|–––––––––––––––––––––––––
| Textarea
|–––––––––––––––––––––––––
*/

textarea {
    display: block;
    max-width: 100%;
    height: 8em;
    padding: 0.2em 0.8em;
    resize: vertical;
    cursor: text;
}

.textarea {
    max-width: 100%;
    height: 12em;
    resize: vertical;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    line-height: 1.4;
}


/*
|–––––––––––––––––––––––––
| Fieldset
|–––––––––––––––––––––––––
*/

fieldset {
    display: block;
    margin: 0;
    padding: 0.5em 1em;
}

.fieldset {
    display: block;
    border-width: 2px;
    border-style: solid;
    border-color: var(--theme-contrast);
    border-radius: var(--input-round);
    background-color: var(--theme-offset);
}

legend {
    padding: 0 0.4em;
    margin: 0 -0.4em;
    line-height: 1;
}

.legend {
    padding: 0 0.4em;
    margin: 0 -0.4em;
    line-height: 1;
}


/*
|–––––––––––––––––––––––––
| Select
|–––––––––––––––––––––––––
*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0 0.8em;
    cursor: pointer;
}

option {
    background-color: initial;
    padding: 0;
    color: initial;
}







