@use '../../functions' as f;

/*
|–––––––––––––––––––––––––
| Links
|–––––––––––––––––––––––––
*/

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &:hover,
  &:focus {
    outline: none;
    color: inherit;
  }
}

.Link {
  color: var(--theme-input);
  transition: color 300ms ease;
  cursor: pointer;

  &[active] {
    color: var(--theme-active);
  }

  &:hover,
  &:focus {
    color: var(--theme-hover);
  }

  &[stealth] {
    color: inherit;

    &[active] {
      color: var(--theme-active);
    }

    &:hover,
    &:focus {
      color: var(--theme-hover);
    }
  }
}

.Meta {
  @include f.clip(-0.18em, -0.25em);
  line-height: 1.2;
  font-family: var(--meta-font, monospace);
}
