 ///////////////////////
// Clip

@mixin clip( $top, $bottom ) {
  &::before,
  &::after {
    display: block;
    height: 0;
    content: "";
  }

  &::before {
    margin-top: $top;
  }

  &::after {
    margin-bottom: $bottom;
  }
}
