 ///////////////////////
// Clip

@mixin clip( $top, $bottom ) {
  display: flex;
  flex-direction: column;

  &::before,
  &::after {
    display: block;
    height: 0;
    content: "";
  }

  &::before {
    margin-top: $top;
  }

  &::after {
    margin-bottom: $bottom;
  }
}
