/*
|–––––––––––––––––––––––––
| Nav
|–––––––––––––––––––––––––
*/

.Nav {
    display: flex;
    --nav-link-pad: 0.5em;
}

.Nav__list {
    display: flex;
    margin: calc(var(--nav-link-pad) * -1);
    padding: 0;
    list-style: none;
}

.Nav__item {
    display: flex;
    padding: 0;
    list-style: none;
}

.Nav__link {
    padding: var(--nav-link-pad);
    border-radius: var(--input-round);
    transition-property: background-color;
}

.Nav__link:hover,
.Nav__link:focus {
    background-color: var(--input-backdrop);
    color: var(--input-hover);
}
