.Toggle {
    --toggle-border-width: 3px;
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.Toggle__input {
	position: absolute;
    inset: 0;
	opacity: 0;
    visibility: hidden;
}

.Toggle__switch {
    position: relative;
    display: inline-flex;
    border-radius: 9999px;
    width: 2em;
    height: 1em;
    border: 3px solid var(--input-color);
    background-color: var(--input-color);
}
.Toggle__switch::before {
    position: relative;
    left: 0%;
    transform: translateX(0%);
    width: calc(1em - (var(--toggle-border-width) * 2));
    aspect-ratio: 1;
    border-radius: 9999px;
    background-color: var(--theme-offset);
    transition: left 300ms ease-in-out,
                transform 300ms ease-in-out;
    content: '';
}
:checked + .Toggle__switch::before {
    left: 100%;
    transform: translateX(-100%);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.Toggle__value {
    animation: fadein 300ms forwards;
}
