
[identify] [identify-item] {
    position: relative;
    outline: 3px solid rgb(0 64 128 / 0.3);
    outline-offset: -3px;
    counter-increment: identify-box;
}

[identify] [identify-item]::before {
    position: absolute;
    top: unset;
    right: unset;
    bottom: 100%;
    left: 0;
    display: block;
    background-color: rgb(0 64 128 / 0.3);
    padding: 3px 3px 0;
    font-size: 16px;
    color: white;
    content: "Box " counter(identify-box);
}

[identify] [identify-item="left"]::before {
    top: 0;
    right: 100%;
    bottom: unset;
    left: unset;
}

[identify] .Section[identify-item] {
    counter-increment: identify-section;
}
[identify] .Section[identify-item]::before {
    content: "Section " counter(identify-section);
}

[identify] .wrapper[identify-item] {
    counter-increment: identify-wrapper;
}
[identify] .wrapper[identify-item]::before {
    content: "Wrapper " counter(identify-wrapper);
}
