@use '../../functions' as f;
/*
|–––––––––––––––––––––––––
| Lists
|–––––––––––––––––––––––––
*/

// Element
li {
    line-height: 1;
    list-style: inherit;
    font-size: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

// Class
.List,
.Markup ul,
.Markup ol {
    --list-tab: var(--tab-size);
    --list-gap: 1.2rem;
    --marker-color: var(--markup-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: var(--max-w-copy);
    padding: 0;
    gap: var(--list-gap);
    list-style: none;
    counter-reset: list;
}

// Nested Lists
.List > .List,
.Markup ul > ul,
.Markup ul > ol,
.Markup ol > ul,
.Markup ol > ol {
    margin-top: 0 !important;
    margin-left: var(--list-tab);
}

.List__item,
.Markup li {
    --lhc-height: var(--list-line-height);
    --lhc-top: var(--list-lhc-top);
    --lhc-bottom: var(--list-lhc-bottom);
    position: relative;
    display: list-item;
    margin: 0;
    padding: 0;
    list-style: inherit;
    line-height: var(--list-line-height);
    font-size: var(--list-font-size);
}

.List__text,
.Markup li p {
    line-height: inherit;
    font-size: inherit;
    color: var(--list-color);
}

.List > .List__item,
.Markup ul > li,
.Markup ol > li {
    padding-left: var(--list-tab);
    counter-increment: list;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: var(--list-tab);
        text-align: center;
        color: var(--markup-color);
    }
}

// Unordered List
.List--bullet > .List__item,
.Markup ul > li {
    &::before {
        content: "\2022";
    }
}

// Ordered List
.List--numbered > .List__item,
.Markup ol > li {
    &::before {
        content: counter(list) ".";
    }
}

// Checkmark List
.List--checkmark > .List__item {
    &::before {
        content: "\2713";
    }
}

// Custom marker on List
.List[style*="--marker:"] > .List__item::before {
    content: var(--marker);
}
