/*
|–––––––––––––––––––––––––
| Color
|–––––––––––––––––––––––––
*/

/* ===== Palette ===== */
:root {
    --default-red: #ff0000;
    --default-orange: #ff8000;
    --default-yellow: #ffff00;
    --default-chartreuse: #80ff00;
    --default-green: #00ff00;
    --default-jade: #00ff80;
    --default-cyan: #00ffff;
    --default-azure: #0080ff;
    --default-blue: #0000ff;
    --default-purple: #8000ff;
    --default-magenta: #ff00ff;
    --default-fuchsia: #ff0080;
    --default-white: #ffffff;
    --default-off-white: #f8f8f8;
    --default-light: #eeeeee;
    --default-light-grey: #c0c0c0;
    --default-grey: #808080;
    --default-dark-grey: #404040;
    --default-dark: #333333;
    --default-off-black: #202020;
    --default-black: #000000;
}

/* ===== Theme ===== */
:root {
    --theme-primary: var(--default-blue);
    --theme-secondary: var(--default-purple);
    --theme-accent: var(--default-jade);
    --theme-input: var(--default-blue);
    --theme-marker: var(--default-azure);
    --theme-muted: var(--default-grey);
    --theme-base: var(--default-white);
    --theme-offset: var(--default-off-white);
    --theme-contrast: var(--default-light);
    --theme-head: var(--default-black);
    --theme-face: var(--default-off-black);
    --theme-body: var(--default-dark);
}

@mixin theme( $type ) {
    --theme-primary: var(--theme-#{$type}-primary);
    --theme-secondary: var(--theme-#{$type}-secondary);
    --theme-accent: var(--theme-#{$type}-accent);
    --theme-base: var(--theme-#{$type}-base);
    --theme-offset: var(--theme-#{$type}-offset);
    --theme-contrast: var(--theme-#{$type}-contrast);
    --theme-head: var(--theme-#{$type}-head);
    --theme-face: var(--theme-#{$type}-face);
    --theme-body: var(--theme-#{$type}-body);
    --theme-input: var(--theme-#{$type}-input);
    --theme-marker: var(--theme-#{$type}-marker);
    --theme-muted: var(--theme-#{$type}-muted);
}

/* ===== Dark Mode ===== */
:root {
    --theme-dark-primary: var(--dark-primary);
    --theme-dark-secondary: var(--dark-secondary);
    --theme-dark-accent: var(--dark-accent);
    --theme-dark-base: var(--dark-base);
    --theme-dark-offset: var(--dark-offset);
    --theme-dark-contrast: var(--dark-contrast);
    --theme-dark-head: var(--dark-head);
    --theme-dark-face: var(--dark-face);
    --theme-dark-body: var(--dark-body);
    --theme-dark-input: var(--dark-input);
    --theme-dark-marker: var(--dark-marker);
    --theme-dark-muted: var(--dark-muted);
}

@media (prefers-color-scheme: dark) {
    [data-theme="auto"] {
        @include theme( dark );
    }
}

[data-theme="dark"] {
    @include theme( dark );
}

/* ===== Light Mode ===== */
:root {
    --theme-light-primary: var(--light-primary);
    --theme-light-secondary: var(--light-secondary);
    --theme-light-accent: var(--light-accent);
    --theme-light-base: var(--light-base);
    --theme-light-offset: var(--light-offset);
    --theme-light-contrast: var(--light-contrast);
    --theme-light-head: var(--light-head);
    --theme-light-face: var(--light-face);
    --theme-light-body: var(--light-body);
    --theme-light-input: var(--light-input);
    --theme-light-marker: var(--light-marker);
    --theme-light-muted: var(--light-muted);
}

@media (prefers-color-scheme: light) {
    [data-theme="auto"] {
        @include theme( light );
    }
}

[data-theme="light"] {
    @include theme( light );
}
