:root {
    --theme-primary: rgb(34 34 255);
    --theme-secondary: rgb(8 8 171);
    --theme-accent: rgb(136 34 255);
    --theme-base: rgb(255 255 255);
    --theme-offset: rgb(248 248 248);
    --theme-contrast: rgb(238 238 238);
    --theme-heading: rgb(8 8 8);
    --theme-text: rgb(34 34 34);
    --theme-copy: rgb(51 51 51);
    --theme-input: rgb(34 34 255);
    --theme-hover: rgb(8 8 170);
    --theme-active: rgb(136 34 255);
}

@define-mixin theme $type {
    --theme-primary: var(--theme-$(type)-primary);
    --theme-secondary: var(--theme-$(type)-secondary);
    --theme-accent: var(--theme-$(type)-accent);
    --theme-base: var(--theme-$(type)-base);
    --theme-offset: var(--theme-$(type)-offset);
    --theme-contrast: var(--theme-$(type)-contrast);
    --theme-heading: var(--theme-$(type)-heading);
    --theme-text: var(--theme-$(type)-text);
    --theme-copy: var(--theme-$(type)-copy);
    --theme-input: var(--theme-$(type)-link);
    --theme-hover: var(--theme-$(type)-link-hover);
    --theme-active: var(--theme-$(type)-link-active);
}

.theme-dark,
[data-theme="dark"] {
    @mixin theme dark;
}

@media (prefers-color-scheme: dark) {
    .theme-auto,
    [data-theme="auto"] {
        @mixin theme dark;
    }
}

.theme-light,
[data-theme="light"] {
    @mixin theme light;
}

@media (prefers-color-scheme: light) {
    .theme-auto,
    [data-theme="auto"] {
        @mixin theme light;
    }
}
