:root {
    --color-dark-primary: blue;
    --color-dark-secondary: purple;

    --color-dark-accent: lime;
    --color-dark-highlight: yellow;

    --color-dark-base: #484848;
    --color-dark-offset: #404040;
    --color-dark-contrast: #383838;

    --color-dark-heading: #333333;
    --color-dark-text: #333333;
    --color-dark-copy: #333333;

    --color-dark-link: #333333;
    --color-dark-link-hover: #333333;
    --color-dark-link-active: #333333;
}
:root {
    --color-light-primary: blue;
    --color-light-secondary: purple;
    --color-light-accent: blue;
    --color-light-highlight: purple;
    --color-light-base: #ffffff;
    --color-light-offset: #f8f8f8;
    --color-light-contrast: #eeeeee;
    --color-light-markup: #dddddd;
}

@define-mixin theme $type {
    --color-primary: var(--color-$(type)-primary);
    --color-secondary: var(--color-$(type)-secondary);
    --color-accent: var(--color-$(type)-accent);
    --color-highlight: var(--color-$(type)-highlight);
    --color-base: var(--color-$(type)-base);
    --color-offset: var(--color-$(type)-offset);
    --color-contrast: var(--color-$(type)-contrast);
    --color-markup: var(--color-$(type)-markup);
}

@media (prefers-color-scheme: dark) {
    .theme-preferred,
    [data-theme="preferred"] {
        @mixin theme dark;
    }
}
@media (prefers-color-scheme: light) {
    .theme-preferred,
    [data-theme="preferred"] {
        @mixin theme light;
    }
}

.theme-dark,
[data-theme="dark"] {
    @mixin theme dark;
}
.theme-light,
[data-theme="light"] {
    @mixin theme light;
}
