:root {
    --palet-primary: blue;
    --palet-secondary: purple;
    --palet-accent: lime;
    --palet-base: #ffffff;
    --palet-offset: #f8f8f8;
    --palet-contrast: #eeeeee;
    --palet-heading: #080808;
    --palet-text: #222222;
    --palet-copy: #333333;
    --palet-link: blue;
    --palet-link-hover: lime;
    --palet-link-active: purple;
}

@define-mixin theme $type {
    --palet-primary: var(--palet-$(type)-primary);
    --palet-secondary: var(--palet-$(type)-secondary);
    --palet-accent: var(--palet-$(type)-accent);
    --palet-base: var(--palet-$(type)-base);
    --palet-offset: var(--palet-$(type)-offset);
    --palet-contrast: var(--palet-$(type)-contrast);
    --palet-heading: var(--palet-$(type)-heading);
    --palet-text: var(--palet-$(type)-text);
    --palet-copy: var(--palet-$(type)-copy);
    --palet-link: var(--palet-$(type)-link);
    --palet-link-hover: var(--palet-$(type)-link-hover);
    --palet-link-active: var(--palet-$(type)-link-active);
}

@media (prefers-color-scheme: dark) {
    .theme-preferred,
    [data-theme="preferred"] {
        @mixin theme dark;
    }
}
@media (prefers-color-scheme: light) {
    .theme-preferred,
    [data-theme="preferred"] {
        @mixin theme light;
    }
}

.theme-dark,
[data-theme="dark"] {
    @mixin theme dark;
}
.theme-light,
[data-theme="light"] {
    @mixin theme light;
}
