
body {
    --input-color: var(--theme-input);
    --input-hover: var(--theme-accent);
    --input-active: var(--theme-secondary);
    --input-height-large: 2.8em;
    --input-height: 2.2em;
    --input-height-small: 1.6em;
    --input-round: 3px;
    --input-pad: 0.8em;
    --input-timing: 300ms;
    --input-easing: ease;
}
