
body {
    --input-color: var(--theme-input);
    --input-hover: var(--theme-accent);
    --input-active: var(--theme-secondary);
    --input-height-tall: 2.8em;
    --input-height: 2.2em;
    --input-height-thin: 1.6em;
    --input-round: var(--round);
    --input-timing: 300ms;
    --input-easing: ease;
}
