@use '../functions' as f;

/*
|–––––––––––––––––––––––––
| THEME: Layout
|–––––––––––––––––––––––––
*/

$min_width: 480px;
$max_width: 1024px;
$space_x_min: 24px;
$space_x_max: 48px;
$space_y_min: 64px;
$space_y_max: 72px;

:root {
    @include f.scale(--section-space-x, $min_width, $max_width, $space_x_min, $space_x_max);
    @include f.scale(--section-space-y, $min_width, $max_width, $space_y_min, $space_y_max);
}
