/*
|–––––––––––––––––––––––––
| THEME: Scheme
|–––––––––––––––––––––––––
*/

@mixin theme( $type ) {
    --theme-primary: var(--#{$type}-primary);
    --theme-secondary: var(--#{$type}-secondary);
    --theme-accent: var(--#{$type}-accent);
    --theme-input: var(--#{$type}-input);
    --theme-marker: var(--#{$type}-marker);
    --theme-muted: var(--#{$type}-muted);
    --theme-base: var(--#{$type}-base);
    --theme-offset: var(--#{$type}-offset);
    --theme-contrast: var(--#{$type}-contrast);
    --theme-head: var(--#{$type}-head);
    --theme-face: var(--#{$type}-face);
    --theme-body: var(--#{$type}-body);
    color-scheme: $type;
}

[data-theme],
[data-theme="normal"] {
    @include theme( normal );
}

/* ===== Light Mode ===== */
@media (prefers-color-scheme: light) {
    [data-theme="auto"] {
        @include theme( light );
    }
}

[data-theme="light"] {
    @include theme( light );
}

/* ===== Dark Mode ===== */
@media (prefers-color-scheme: dark) {
    [data-theme="auto"] {
        @include theme( dark );
    }
}

[data-theme="dark"] {
    @include theme( dark );
}
