/*
|–––––––––––––––––––––––––
| THEME: Scheme
|–––––––––––––––––––––––––
*/

[data-theme="normal"] {
    --theme-primary: var(--light-primary);
    --theme-secondary: var(--light-secondary);
    --theme-accent: var(--light-accent);
    --theme-input: var(--light-input);
    --theme-marker: var(--light-marker);
    --theme-muted: var(--light-muted);
    --theme-base: var(--light-base);
    --theme-offset: var(--light-offset);
    --theme-contrast: var(--light-contrast);
    --theme-head: var(--light-head);
    --theme-face: var(--light-face);
    --theme-body: var(--light-body);
    color-scheme: normal;
}

@mixin theme( $type ) {
    --theme-primary: var(--#{$type}-primary);
    --theme-secondary: var(--#{$type}-secondary);
    --theme-accent: var(--#{$type}-accent);
    --theme-input: var(--#{$type}-input);
    --theme-marker: var(--#{$type}-marker);
    --theme-muted: var(--#{$type}-muted);
    --theme-base: var(--#{$type}-base);
    --theme-offset: var(--#{$type}-offset);
    --theme-contrast: var(--#{$type}-contrast);
    --theme-head: var(--#{$type}-head);
    --theme-face: var(--#{$type}-face);
    --theme-body: var(--#{$type}-body);
    color-scheme: $type;
}

/* ===== Light Mode ===== */
@media (prefers-color-scheme: light) {
    [data-theme="auto"] {
        @include theme( light );
    }
}

[data-theme="light"] {
    @include theme( light );
}

/* ===== Dark Mode ===== */
@media (prefers-color-scheme: dark) {
    [data-theme="auto"] {
        @include theme( dark );
    }
}

[data-theme="dark"] {
    @include theme( dark );
}

[data-theme] {
    color: var(--theme-face);
}

// @mixin scheme($types, $default: "light") {
//     @each $type in $types {
//         @if $default == "light" {
//             [data-theme="normal"] {
//                 @content( $type );
//             }
//         }

//         @if $default == "dark" {
//             [data-theme="normal"] {
//                 @content( $type );
//             }
//         }

//         @media (prefers-color-scheme: #{$type}) {
//             [data-theme="auto"] {
//                 @content( $type );
//             }
//         }
//         [data-theme="#{$type}"] {
//             @content( $type );
//         }
//     }
// }

// @include scheme(dark, light) using ($type) {
//     @if $type == dark {
//         @include theme( dark );
//     }
//     @if $type == light {
//         @include theme( light );
//     }
// }
