/*
|–––––––––––––––––––––––––
| Text
|–––––––––––––––––––––––––
*/

:root {
    --theme-heading-font: "Roboto Condensed";
    --theme-font: "Roboto";
    --theme-mono-font: "Roboto Mono";
}

:root {
    --heading-font: var(--theme-heading-font);
    --font: var(--theme-font);
    --meta-font: var(--theme-mono-font);
}
