@import './_scheme.scss';
// @import './_text.scss';
// @import './_input.scss';
@import './_layout.scss';

/*
|–––––––––––––––––––––––––
| THEME: Other
|–––––––––––––––––––––––––
*/

:root {
    // SHADOW
    --shadow-in: 0px 3px 10px 0px rgb(0 0 0 / 0.25) inset;
    --shadow-down: 0px 3px 10px 0px rgb(0 0 0 / 0.25);
    --shadow: 0px 7px 10px 0px rgb(0 0 0 / 0.25);
    --shadow-up: 0px 10px 18px 3px rgb(0 0 0 / 0.25);

    // BORDER
    --border: 2px solid var(--theme-contrast);

    // BORDER RADIUS
    --round: 2px;
    --rounder: 4px;
}

