
:root {
    --round-card: 8px;
    --shadow-card: 0px 0px 20px 4px rgba(0,0,0,0.2);
}

.Card {
    position: relative;
    isolation: isolate;
    width: 100%;
    flex: 1 0 auto;
    box-shadow: var(--shadow-card);
    border-radius: var(--round-card);
    background-color: var(--theme-base);
    padding: 1rem;
}
