article {
    display: block;
}

.Card {
    position: relative;
    isolation: isolate;
    width: 100%;
    flex: 1 0 auto; // card should fill the container it is given
    box-shadow: var(--card-shadow);
    border-radius: var(--card-round);
    background-color: var(--card-background);
    padding: 1rem;
}
