@use '../../functions' as f;

/*
|––––––––––––––––––––––––––––––––––––––––––––––––––
| BASE: Template
|––––––––––––––––––––––––––––––––––––––––––––––––––
*/

*,
::before,
::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: var(--theme-contrast);
}

html {
    @include f.scale(font-size, 480px, 1280px, 16px, 20px);
}

html {
    overflow-x: clip;
    overflow-y: auto;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: var(--theme-base);
    tab-size: var(--tab-size);
    line-height: 1;
    font-size: 1rem;
    font-weight: normal;
    font-family: var(--font-face);
    text-rendering: optimizeLegibility;
    color: var(--theme-face);
    accent-color: var(--theme-input);
}

/* this will, at the least, fill the viewport and gives the template structure */
#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: block;
}

/* header comes first but should always be on top */
#header {
    position: relative;
    z-index: 3;
}

main {
    display: block;
}

/* main is in the middle and it should fill the space between but be below both the header and footer */
#main {
    position: relative;
    z-index: 1;
    flex: 1 0 auto;
}

footer {
    display: block;
}

/* footer */
#footer {
    position: relative;
    z-index: 2;
}

[hidden] {
    visibility: hidden;
    opacity: 0;
    width: 1px;
    height: 1px;
}

[hide-scrollbar] {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

[hide-scrollbar]::-webkit-scrollbar {
    display: none;
}

[show-target] :target {
    outline: 3px solid var(--theme-primary);
    outline-offset: 3px;
}

[show-selection] ::selection {
    background-color: hsl(220 100% 75% / 0.7);
}
