@use '../../functions' as f;

/*
|–––––––––––––––––––––––––
| Copy
|–––––––––––––––––––––––––
*/

p {
  margin: 0;
  line-height: 1.6;
  hyphens: none;
}

.Copy,
.Markup p {
  @include f.clip(-0.3em, -0.45em);
  margin: 1.6rem 0 0;
  width: 100%;
  max-width: var(--copy-max);
  line-height: 1.6;
  hyphens: none;
  color: var(--theme-copy);

  &:first-child {
    margin-top: 0;
  }
}
