@use '../../functions' as f;

/*
|–––––––––––––––––––––––––
| Heading
|–––––––––––––––––––––––––
*/

// Element
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.2;
  font-size: inherit;
}

// Class
.Heading,
.Markup h1,
.Markup h2,
.Markup h3,
.Markup h4,
.Markup h5,
.Markup h6 {
  @include f.clip(-0.18em, -0.25em);
  margin: 0;
  line-height: 1.2;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: var(--heading-font);
  color: var(--theme-head);
}

.Rhythm h1,
.Rhythm h2,
.Rhythm h3,
.Rhythm h4,
.Rhythm h5,
.Rhythm h6 {
  &:not(:first-child) {
    margin-top: var(--break-size);
  }
}

.h1,
.Markup h1 {
  font-size: 3.6rem;
  color: var(--theme-head);
}

.h2,
.Markup h2 {
  font-size: 2.4rem;
  color: var(--theme-head);
}

.h3,
.Markup h3 {
  font-size: 2.0rem;
  color: var(--theme-head);
}

.h4,
.Markup h4 {
  font-size: 1.6rem;
  color: var(--theme-head);
}

.h5,
.Markup h5 {
  font-size: 1.6rem;
  color: var(--theme-primary);
}

.h6,
.Markup h6 {
  font-size: 1.6rem;
  color: var(--grey);
}
