@use '../../functions' as f;
/*
|–––––––––––––––––––––––––
| Lists
|–––––––––––––––––––––––––
*/

li {
  line-height: 1.4;
  list-style: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.List,
.Markup ul,
.Markup ol {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: var(--list-gap);
  list-style: none;
  counter-reset: list;
  --list-tab: 2.0rem;
  --list-gap: 1.2rem;
  --marker-color: var(--theme-primary);

  &:not(:first-child) {
    margin-top: var(--break-size);
  }
}

// Nested Lists
.List > .List,
.Markup ul > ul,
.Markup ul > ol,
.Markup ol > ul,
.Markup ol > ol {
  margin-top: 0 !important;
  margin-left: var(--list-tab);
}

.List__item,
.Markup li {
  position: relative;
  display: list-item;
  margin: -0.3em 0 -0.35em;
  padding: 0;
  font-size: 1rem;
  line-height: 1.4em;
  list-style: inherit;
}

.List > .List__item,
.Markup ul > li,
.Markup ol > li {
  text-indent: var(--list-tab);

  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: var(--list-tab);
    text-indent: 0;
    color: var(--marker-color);
    counter-increment: list;
  }
}

// Unordered List
.List--bullet > .List__item,
.Markup ul > li {
  &::before {
    font-size: 1.3rem;
    content: "\2022";
  }
}

// Ordered List
.List--numbered > .List__item,
.Markup ol > li {
  &::before {
    content: counter(list) ".";
  }
}

// Checkmark List
.List--checkmark > .List__item {
  &::before {
    content: "\2713";
  }
}

.List--bigCheckmark {
  --list-gap: 1.5rem;
  --list-tab: 36px;

  & > .List__item::before {
    left: -7px;
    top: -7px;
    font-size: 24px;
    content: "\2713";
  }
}

.List--unordered {
  position: relative;

  &::before {
    position: absolute;
    top: 0.35em;
    left: 0;
    width: 6px;
    height: 6px;
    border-radius: 1px;
    // background-color: $accent;
    content: '';
  }
}

// Custom marker on List__item
.List > .List__item[marker]::before {
  content: attr(marker);
}

// Custom marker on List
.List[style*="--marker"] > .List__item::before {
  content: var(--marker);
}

// How I would like it to work, but this doesn't work :sad-face:
.List[marker] {
  --marker: attr(marker);

  & > .List__item::before {
    content: var(--marker);
  }
}
