/*
|–––––––––––––––––––––––––
| Markup
|–––––––––––––––––––––––––
*/

span {
    display: inline;
}

figcaption {
    font-style: normal;
}

address {
    font-style: normal;
}

time {
    font-style: normal;
}


// small text
small {
    font-size: 0.8em;
}


// subscript / superscript
sub,
sup {
    position: relative;
    vertical-align: baseline;
    font-size: 0.75em;
    line-height: 0;
}

sup {
    top: -0.25em;
}

sub {
    bottom: -0.25em;
}


// bold
b {
    font-weight: bold;
}

strong {
    font-weight: bold;
}

// italics
i {
    font-style: italic;
}

em {
    font-style: italic;
}

// underline
ins {
    text-decoration: underline;
}

// striketrough
del {
    text-decoration: line-through;
}

// highlighted
mark {
    background-color: yellow;
}
