@use '../../functions' as f;

.meta {
  @include f.clip(-0.18em, -0.25em);
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--meta-font);
  font-size: 0.8rem;
}
