/*
|–––––––––––––––––––––––––
| THEME: Input
|–––––––––––––––––––––––––
*/

[data-scheme] {
    --input-color: var(--theme-input);
    --input-hover: var(--theme-accent);
    --input-active: var(--theme-secondary);
}
