/*
|–––––––––––––––––––––––––
| THEME: Input
|–––––––––––––––––––––––––
*/

[data-scheme] {
    --input-color: var(--theme-primary);
    --input-hover: var(--theme-secondary);
    --input-active: var(--theme-tertiary);
}
