@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&family=Roboto+Mono:wght@300;500;700&family=Roboto:wght@100;300;500;700;900&display=swap');
@import './_scheme.scss';
@import './_text.scss';
@import './_input.scss';
@import './_layout.scss';

/*
|–––––––––––––––––––––––––
| THEME: Other
|–––––––––––––––––––––––––
*/

:root {
    // SHADOW
    --shadow-in: 0px 3px 10px 0px rgba(0,0,0,0.2) inset;
    --shadow-down: 0px 3px 10px 0px rgb(0,0,0,/ 0.2);
    --shadow: 0px 7px 10px 0px rgb(0,0,0,/ 0.2);
    --shadow-up: 0px 10px 18px 3px rgb(0,0,0,/ 0.2);

    // BORDER
    --border: 2px solid var(--theme-contrast);

    // BORDER RADIUS
    --round: 2px;
    --rounder: 4px;
}

